$natural1: #1d1d1d;
$natural1: #2f2f2f;
$natural3: #747474;
$natural4: #a6a6a6;
$natural5: #cccccc;
$natural6: #ebebeb;
$natural7: #ffffff;

$cyberyellow1: #ffcf08;
$cyberyellow2: #e5b900;
$cyberyellow3: #cca500;
$cyberyellow4: #ffeb99;
$cyberyellow5: #fff5cc;

$antiquewhite1: #faefdc;
$antiquewhite2: #f5e0bc;
$antiquewhite3: #f2d6a6;
$antiquewhite4: #fffbf3;

$brand1: #cc2600;
$brand2: #e52b00;
$brand3: #ff3000;

$system_warning1: #e81c00;
$system_warning2: #cc1800;
$system_warning3: #b21500;
$system_success1: #007470;
$system_link1: #0370c7;
$system_advantages: #76b9dc;
